
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner pai */
    height: auto; /* Mantém a proporção da imagem ao redimensionar */
}

:root {
    --titulo-rgb: linear-gradient(to left, rgb(1, 104, 117), rgb(7, 97, 201), rgb(1, 104, 117));
    --botao-transicao: linear-gradient(to left, rgb(2, 152, 172), rgb(3, 113, 238), rgb(2, 152, 172));
    --menu-rgb:linear-gradient(to bottom, rgb(1, 104, 117), rgb(7, 97, 201), rgb(1, 104, 117));
    --branco: white;
    --borda-cabecalho: #00ACC1;
    --verde-escuro: rgb(1, 66, 36);
    --azul: rgb(7, 97, 201);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    background: linear-gradient(to right, #212121 50%, #1565C0 50%);
}

header {
    width: 100%;
    height: 100px;
    background: var(--titulo-rgb);
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 10px solid var(--borda-cabecalho);
}

#h-titulo {
    display: flex;
    flex: 1;
    margin-left: 200px;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 90px;
    margin-left: 20px ;
    color: var(--branco);
}

.logo{
    position: absolute;
    left: 75px;
}

.titulo-terciario {
    display: flex;
    justify-content:last baseline;
}


h2{
    font-family: "Rubik", sans-serif;
    text-align: center;
    margin-top: 10vh;
    font-size: 45px;
    color: rgb(255, 255, 255);
}

h3{
    font-family: "Rubik", sans-serif;
    margin-top: 75px;
    margin-left: 4vw;
    font-size: 35px;
    color: var(--azul);
}


.texto-mapa{
    display: flex;
    text-align: center;
    font-family: "Rubik", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 10vw;
    margin-top: 50px;
}

.topicos{
    display: flex;
    text-align: center;
    font-family: "Rubik", sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 5vh;
    margin-left: 6vw;
    font-size: 25px;
    width: 30%;
}

.container {
    position: fixed; 
    top: 20px; 
    left: 15px; 
    display: flex;
    align-items: center;
    z-index: 2000; 
}

#checkbox-menu {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 60px;
    z-index: 2001; 
}

label span {
    position: absolute;
    display: block;
    height: 10px;
    width: 100%;
    border-radius: 30px;
    background: white;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 15px;
}

label span:nth-child(3) {
    top: 30px;
}

#checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 15px;
}

#checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 15px;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    background: var(--menu-rgb);
    width: 15vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -40vw; 
    transition: 0.4s;
    z-index: 1000; 
}

.texto-menu{
    font-family: "Varela Round", sans-serif;
    font-size: 35px;
    position: absolute;
    left: 60px;
    top: 150px;
    color: white;
    padding-left: 2px;
}

.texto-menu1{
    font-family: "Varela Round", sans-serif;
    font-size: 35px;
    position: absolute;
    left: 60px;
    top: 230px;
    color: white;
}

.localizacao{
    position: absolute;
    top: 235px;
    left: 20px;
    transform: scale(1.5);
}

.localizacao:hover{
    transition: 1s;
    transform: scale(1.6);
}

.casinha{
    position: absolute;
    top: 150px;
    left: 20px;
}

.mapa{
    position: absolute;
    top: 500px;
    left: 100px;
}

.lupa{
    position: absolute;
    left: 55vw;
    top: 43vh;
    transform: rotate(90deg);
}

.enfermeira{
    position:absolute;
    left: 200px;
    top: 270px;
}

.PC{
    position: absolute;
    left: 60vw;
    top: 30vh;
}

a{
    text-decoration: none;
}

.click-mapa{
    position: absolute;
    color: white;
    background: var(--menu-rgb);
    width: 11.75vw;
    font-size: 50px;
    left: 250px;
    margin-top: 12vw;
    padding: 30px;
    border-radius: 20px;
}

.click-mapa:hover{
    transform: scale(1.1);
    transition: 1s;
    background: var(--botao-transicao);
}

.texto-menu:hover, .casinha:hover, .texto-menu1:hover{
    transition: 1s;
    transform: scale(1.1);

}

.sidebar-menu.active {
    left: 0;
}

@media screen and (max-width: 768px) {

    body{
        width: 50%;
    }

    header{
        width: 200%;
    }

    h1 {
        font-size: 60px;
    }

    h2{
        margin-left: 90px;
        font-size: 30px;
        size: 5%;
        height: 5%;
        width: 120%;
    }

    h3{
        display: flex;
        text-align: center;
        font-size: 15px;
        margin-left: 50px;
        margin-top: 50px;
        width: 45%;
        height: 5%;
        size: 20%;
    }


    .texto-mapa{
        font-size: 15px;
        margin-top: 5px;
        margin-right: 120vw;
    }

    .topicos{
        display: flex;
        text-align: center;
        margin-left: 40px;
        margin-top: 20px;
        font-size: 15px;
        width: 65%;
    }

    .texto-menu {
        font-size: 25px;
    }

    .PC{
        width: 50%;
        left: 210px;
        top: 350px;
    }

    .lupa{
        width: 20%;
        left: 210px;
        top: 370px;
    }

    .sidebar-menu {
        left: -60vw; 
        width: 50vw;
    }

    .click-mapa{
        font-size: 25px;
        width: 30%;
        top: 650px;
        left: 5vw;
    }

    .texto-menu1{       
         font-size: 25px;

    }
    
}
