@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merienda:wght@300..900&family=Playwrite+ES+Deco:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --titulo-rgb: linear-gradient(to left, rgba(255, 255, 255, 0.301), #4ba18a3d, rgba(255, 255, 255, 0.315));
    --corpo-rgb: linear-gradient(to bottom, #03ac7fbd,  white, white);
    --botao-transicao: linear-gradient(to left, rgb(2, 152, 172), rgb(3, 113, 238), rgb(2, 152, 172));
    --menu-rgb: linear-gradient(to bottom, rgb(1, 104, 117), rgb(7, 97, 201), rgb(1, 104, 117));
    --branco: white;
    --borda-cabecalho: #00ACC1;
    --verde-escuro: rgb(1, 66, 36);
    --azul: rgb(7, 97, 201);
}

body {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container-fundo-imagem {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 7.25%; /* Altura proporcional para manter a imagem responsiva */
    overflow: hidden;
    border-radius: 0 0 10px 10px;
    border-bottom: 3px solid #4DB6AC ;
}

.container-fundo-imagem::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('h0spital.jpg');
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    z-index: -2;
}


.container-fundo-imagem::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.7);
}

.container-logo {
    display: flex;
    margin-top: 15px;
}

.logo {
    width: 130px;
    height: 130px;
}

header {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    position: fixed;
    top: 0;
    background: var(--titulo-rgb);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: 0.75s ease;
}

.texto-agende{
    position: fixed;
    text-align: center;
    top: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    color: #86e5bd;
}

footer{
    font-family: "Poppins", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    width: 100%;
    background: #03ac7fbd;
    color: white;
}

.quadrado1{
    background-color: #fff;
    border-top: 1px solid rgb(0, 0, 0, 1);
    border-left: 1px solid rgb(0, 0, 0, 1);
    border-right: 1px solid rgb(0, 0, 0, 1);
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: 0;
    height: 40px;
}


.consulta-menu {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    background-color: #ffffff;
    width: 80%; /* Ajuste a largura conforme necessário */
    height: 80vh; /* Ajuste a altura conforme necessário */
    position: fixed;
    bottom: -150%;
    left: 50%; /* Posiciona no centro horizontal */
    transform: translate(-50%, -52%); /* Centraliza completamente */
    z-index: 1000;
    transition: 0.5s;
    margin-top: 60px;
    border-radius: 30px;
    box-shadow: 0 0 10000000px rgba(0, 0, 0, 1);
    border: 2px solid #00ACC1;
}

.consulta-menu.active{
    bottom: -36%;
}


#form-email {
    width: 80%; /* Ajuste a largura conforme necessário */
    padding: 20px;
    text-align: center;
}

#form-email input,
#form-email textarea, #form-email select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#form-email textarea {
    resize: vertical;
    min-height: 100px;
}

#form-email .enviar-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

#form-email .enviar-button:hover {
    background-color: #0056b3;
}

#form-email input:required:invalid,
#form-email textarea:required:invalid {
    border: 1px solid #4DB6AC;
}

#form-email input:required:valid,
#form-email textarea:required:valid {
    border: 1px solid #ccc;
}
.container-consulta .checkbox-consulta:not(:checked) + label span:nth-child(1) {
    background-color: black; /* Estilo quando não está checado */
    rotate: -50deg;
    height: 3px;
    width: 60%;
    top: 25%;
    right: 40%;
}

.container-consulta .checkbox-consulta:not(:checked) + label span:nth-child(2) {
    background-color: black; /* Estilo quando não está checado */
    rotate: 50deg;
    top: 0px;
    height: 3px;
    left: 39%;
    top: 25%;
    width: 60%;
}

.container-consulta .checkbox-consulta:checked + label span:nth-child(2) {
    background-color: black; /* Estilo quando não está checado */
    rotate: 50deg;
    top: 0px;
    height: 3px;
    left: 39%;
    top: 25%;
    width: 60%;
}

.container-consulta .checkbox-consulta:checked + label span:nth-child(1) {
    background-color: black; /* Estilo quando não está checado */
    rotate: -50deg;
    height: 3px;
    width: 60%;
    top: 25%;
    right: 40%;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 90px;
    color: #86e5bd;
}

.container-titulo-secundario {
    text-align: center;
    margin-top: 60px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff9f;
    margin-top: 120px;
    text-shadow: 0 10px 30px rgb(255, 247, 247, 0.2), 0 10px 10px rgb(255, 255, 255, 0.2);
}

h3 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    color: rgb(1, 96, 173);
    text-align: center;
    margin-top: 20px;
}

h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
}

.container {
    position: fixed;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
    z-index: 2000;
}

#checkbox-menu, #checkbox-menu-consulta {
    position: absolute;
    opacity: 0;
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 60px;
    z-index: 2001;
}

label span {
    position: absolute;
    margin-top: 10px;
    display: block;
    height: 10px;
    width: 100%;
    border-radius: 30px;
    background: #86e5bd;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 15px;
}

label span:nth-child(3) {
    top: 30px;
}

#checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 15px;
    background-color: white;
}

#checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 15px;
    background-color: white;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    background-color:#4DB6AC;
    width: 15vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: -80vw;
    transition: 0.5s;
    z-index: 1000;
}

.texto-menu {
    font-family: "Varela Round", sans-serif;
    font-size: 35px;
    position: absolute;
    left: 60px;
    top: 150px;
    color: white;
    padding-left: 2px;
}

.texto-menu1 {
    font-family: "Varela Round", sans-serif;
    font-size: 35px;
    position: absolute;
    left: 60px;
    top: 230px;
    color: white;
}

.texto-menu2 {
    font-family: "Varela Round", sans-serif;
    font-size: 30px;
    position: absolute;
    left: 30px;
    top: 310px;
    color: white;
}

.localizacao {
    position: absolute;
    top: 235px;
    left: 20px;
    transform: scale(1.5);
}



.localizacao:hover {
    transition: 1s;
    transform: scale(1.6);
}

.texto-menu3 {
    font-family: "Varela Round", sans-serif;
    font-size: 30px;
    position: absolute;
    left: 30px;
    top: 420px;
    color: white;
    text-decoration: none;
}


.casinha {
    position: absolute;
    top: 150px;
    left: 20px;
}

a {
    text-decoration: none;
}

.click-mapa {
    color: white;
    background: var(--menu-rgb);
    width: 11.75vw;
    font-size: 50px;
    margin-top: auto;
    padding: 30px;
    border-radius: 20px;
}

.click-mapa:hover {
    transform: scale(1.1);
    transition: 1s;
    background: var(--botao-transicao);
}

.texto-menu:hover,
.casinha:hover,
.texto-menu1:hover {
    transition: 1s;
    transform: scale(1.1);
}

.sidebar-menu.active {
    left: 0;
}

.container-formas {
    display: flex;
    align-items: flex-start; /* Alinha os itens ao topo */
    margin-top: 20px; /* Espaçamento do topo */
    margin-bottom: 50px;
    padding-left: 20px; /* Espaçamento à esquerda para afastar da borda */
    padding-right: 20px; /* Espaçamento à direita para afastar da borda */
}

.imgtoque{
    position: absolute;
    z-index: -1;
}

.toque{
    margin-left: 130px;
    margin-top: 220px;
    display: none;
}

.quadrados {
    display: flex;
    flex-direction: column; /* Organiza os quadrados em coluna */
    gap: 20px; /* Espaçamento entre os quadrados */
    margin-top: 30px;
    margin-left: 20px;
}

.retangulos {
    display: flex;
    flex-direction: column; /* Organiza os retângulos em coluna */
    margin-top: 30px;
    width: 90%; /* Largura do retângulo */
    gap: 20px;
}

.quadrado {
    height: 400px;
    width: 300px;
    border-radius: 150px;
    border: 5px solid #4DB6AC;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}


.texto-retangulo{
    font-family: "Bebas Neue", sans-serif;
    font-size: 70px;
    color: #4DB6AC;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.247), 0 10px 30px rgba(0, 0, 0, 0.247);
}


.retangulo {
    text-align: center;
    font-size: 30px;
    height: 400px; /* Altura do retângulo */
    border-radius: 150px;
    border: 5px solid #4DB6AC;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    transition: top 0.3s ease, left 0.3s ease; /* Transição suave para top e left */
    display: flex; /* Adiciona flexbox */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 50px;
    }

.texto-menu3{
    font-size:25px;
}
    
.texto-agende{
    position: fixed;
    text-align: center;
    top: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: #86e5bd;
}

    label span {
        width: 80%;
    }

    .logo {
        width: 110px;
        height: 110px;
        margin-left: 35px;
    }

    .container-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body {
        flex-direction: column;
    }

    .sidebar-menu.active {
        width: 65%;
    }

    .texto-retangulo{
        margin-top: 80px;
        font-size: 34px;
    }

    .retangulo.ativo {
        display: block; /* Mostra o retângulo quando ativo */
        }
    
        .container-formas {
        display: flex;
        flex-direction: column; /* Organiza os retângulos em coluna */
        align-items: flex-start; /* Alinha os itens ao topo */
    
    }
    
        .toque{
        display: block;
    }
    
        .container-quadrados {
                    align-items: center; /* Centraliza os itens na coluna em telas menores */
                    padding-left: 0; /* Remove o padding à esquerda em telas menores */
                }
    
        .quadrado {
             margin-bottom: 20px; /* Adiciona espaçamento inferior entre os quadrados em telas menores */
             margin-right: 0; /* Remove o espaçamento à direita em telas menores */
         }
    
        .retangulo {
            position: absolute; /* Posicionamento absoluto para alinhar com o quadrado */
            height: 400px; /* Altura do retângulo */
            width: 300px; /* Largura do retângulo */
            border-radius: 150px; /* Raio do retângulo */
            border: 5px solid #4DB6AC; /* Estilo da borda */
            box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5); /* Sombra do retângulo */
            display: none; /* Inicialmente escondido */
            transition: top 0.3s ease, left 0.3s ease; /* Transição suave para top e left */
            display: flex; /* Adiciona flexbox */
            align-items: center; /* Centraliza verticalmente */
            justify-content: center; /* Centraliza horizontalmente */
        }
}
