@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merienda:wght@300..900&family=Playwrite+ES+Deco:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

:root {
    --titulo-rgb: linear-gradient(to left, rgba(255, 255, 255, 0.301), #4ba18a3d, rgba(255, 255, 255, 0.315));
    --corpo-rgb: linear-gradient(to bottom, #03ac7fbd,  white, white);
    --botao-transicao: linear-gradient(to left, rgb(2, 152, 172), rgb(3, 113, 238), rgb(2, 152, 172));
    --menu-rgb: linear-gradient(to bottom, rgb(1, 104, 117), rgb(7, 97, 201), rgb(1, 104, 117));
    --branco: white;
    --borda-cabecalho: #00ACC1;
    --verde-escuro: rgb(1, 66, 36);
    --azul: rgb(7, 97, 201);
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 90px;
    color: #86e5bd;
}

.consulta-menu h2{
    position: fixed;
    top: 50px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 50px;
    color: #86e5bd;
}


#form-email {
    width: 80%; /* Ajuste a largura conforme necessário */
    padding: 20px;
    text-align: center;
}

#form-email input,
#form-email textarea, #form-email select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#form-email textarea {
    resize: vertical;
    min-height: 100px;
}

#form-email .enviar-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.texto-menu2 {
    font-family: "Varela Round", sans-serif;
    font-size: 30px;
    position: absolute;
    left: 30px;
    top: 310px;
    color: white;
}

#form-email .enviar-button:hover {
    background-color: #0056b3;
}

#form-email input:required:invalid,
#form-email textarea:required:invalid, #form-email select:required:invalid {
    border: 1px solid #4DB6AC;
}

#form-email input:required:valid,
#form-email textarea:required:valid, #form-email select:required:valid  {
    border: 1px solid #4DB6AC;
}
.container-logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 130px;
    height: 130px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    position: fixed;
    top: 0;
    background: var(--titulo-rgb);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5), 0 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: 0.75s ease;
    padding: 0 20px; /* Ajuste o espaçamento conforme necessário */
}

.container {
    position: fixed;
    top: 30px;
    left: 15px;
    display: flex;
    align-items: center;
    z-index: 2000;
}

#checkbox-menu, #checkbox-menu-consulta {
    position: absolute;
    opacity: 0;
}



footer {
    font-family: "Poppins", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    width: 100%;
    background-color: #03ac7f;
    color: white;
    margin-top: 20px;
    position: relative; /* Garante o espaço para o rodapé */
    z-index: 1000; /* Z-index inferior ao do bottom-fixed */
}

label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 45px;
    width: 60px;
}

label span {
    position: absolute;
    margin-top: 10px;
    display: block;
    height: 10px;
    width: 100%;
    border-radius: 30px;
    background: #86e5bd;
    transition: 0.25s ease-in-out;
}

label span:nth-child(1) {
    top: 0;
}

label span:nth-child(2) {
    top: 15px;
}

label span:nth-child(3) {
    top: 30px;
}

.container-consulta .checkbox-consulta:not(:checked) + label span:nth-child(1) {
    background-color: black; /* Estilo quando não está checado */
    rotate: -50deg;
    height: 3px;
    width: 60%;
    top: 25%;
    right: 40%;
}

.container-consulta .checkbox-consulta:not(:checked) + label span:nth-child(2) {
    background-color: black; /* Estilo quando não está checado */
    rotate: 50deg;
    top: 0px;
    height: 3px;
    left: 39%;
    top: 25%;
    width: 60%;
}

.container-consulta .checkbox-consulta:checked + label span:nth-child(2) {
    background-color: black; /* Estilo quando não está checado */
    rotate: 45deg;
    top: 0px;
    height: 3px;
    left: 20%;
    top: 26%;
    width: 60%;
}

.container-consulta .checkbox-consulta:checked + label span:nth-child(1) {
    background-color: black; /* Estilo quando não está checado */
    rotate: -45deg;
    height: 3px;
    width: 60%;
    top: 26%;
    right: 20%;
}

.quadrado{
    background-color: #fff;
    border-top: 1px solid rgb(0, 0, 0, 1);
    border-left: 1px solid rgb(0, 0, 0, 1);
    border-right: 1px solid rgb(0, 0, 0, 1);
    border-radius: 10px 10px 0 0;
    position: fixed;
    bottom: 0;
    height: 40px;
}

#checkbox-menu:checked + label span:nth-child(1) {
    transform: rotate(-45deg);
    top: 15px;
    background-color: white;
}

#checkbox-menu:checked + label span:nth-child(2) {
    opacity: 0;
}

#checkbox-menu:checked + label span:nth-child(3) {
    transform: rotate(45deg);
    top: 15px;
    background-color: white;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    background-color: #4DB6AC;
    width: 15vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: -80vw;
    transition: 0.5s;
    z-index: 1000;
}

.consulta-menu {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    text-align: center;
    background-color: #ffffff;
    width: 80%; /* Ajuste a largura conforme necessário */
    height: 80vh; /* Ajuste a altura conforme necessário */
    position: fixed;
    bottom: -150%;
    left: 50%; /* Posiciona no centro horizontal */
    transform: translate(-50%, -52%); /* Centraliza completamente */
    z-index: 1000;
    transition: 0.5s;
    margin-top: 60px;
    border-radius: 30px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 1);
    border: 2px solid #00ACC1;
}


.texto-menu {
    font-family: "Varela Round", sans-serif;
    font-size: 35px;
    position: absolute;
    left: 60px;
    top: 150px;
    color: white;
    padding-left: 2px;
}

.texto-menu1 {
    font-family: "Varela Round", sans-serif;
    font-size: 35px;
    position: absolute;
    left: 60px;
    top: 230px;
    color: white;
}

.localizacao {
    position: absolute;
    top: 235px;
    left: 20px;
    transform: scale(1.5);
}

.localizacao:hover {
    transition: 1s;
    transform: scale(1.6);
}

.casinha {
    position: absolute;
    top: 150px;
    left: 20px;
}

a {
    text-decoration: none;
}

.leaflet-control-zoom {
    z-index: 500; /* Z-index menor para os controles de zoom */
}

.localizacao {
    position: absolute;
    top: 235px;
    left: 20px;
    transform: scale(1.5);
}

.sidebar-menu.active {
    left: 0;
}

.consulta-menu.active{
    bottom: -36%;
}

.texto-menu3 {
    font-family: "Varela Round", sans-serif;
    font-size: 30px;
    position: absolute;
    left: 30px;
    top: 420px;
    color: white;
    text-decoration: none;
}


.casinha {
    position: absolute;
    top: 150px;
    left: 20px;
}

.texto-menu:hover, .casinha:hover, .texto-menu1:hover {
    transition: 1s;
    transform: scale(1.1);
}

.localizacao:hover {
    transition: 1s;
    transform: scale(1.6);
}

#map-container {
    position: relative;
    width: 90%;
    height: 600px; /* Defina a altura desejada para o mapa */
    margin-top: 150px;

}

#map {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.container-buscas {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
    padding: 0 20px;
}

.busca,
.busca1 {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    width: calc(50% - 20px);
    display: flex; /* Adiciona flexbox */
    justify-content: space-between; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
    flex-direction: column; /* Ajusta para alinhar itens na coluna */
    margin-bottom: 20px;
}

.busca h2,
.busca1 h2 {
    font-size: 1rem;
    margin-bottom: 1px;
    text-align: center; /* Ajusta o texto para o centro */
}

.busca p,
.busca1 p {
    margin-top: 0px;
    text-align: center; /* Ajusta o texto para o centro */
}

.busca input,
.busca1 input,
.busca select,
.busca1 select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.busca select,
.busca1 select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("arrow-down.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
    background-size: 16px;
    padding-right: 30px;
}

.search-button,
.search-button1 {
    background-color: #ffffff;
    color: #000; /* Ajuste a cor do texto conforme necessário */
    border: none;
    padding: 10px 20px; /* Ajuste o padding conforme necessário */
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
    margin: auto; /* Centraliza horizontalmente */
}

.endereco {
    padding-top: 10px;
    font-family: "Varela Round", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .side-panel {
        position: relative;
        width: 100%;
        height: auto;
        box-shadow: none;
   }

   .texto-agende{
    position: fixed;
    text-align: center;
    top: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: #86e5bd;
}


   .sidebar-menu.active {
    width: 65%;
}

   .consulta-menu.active{
    bottom: -35%;
}

#map-container{
  width:90%;
  height:400px;
  margin-top:150px;
}
    h2{
    font-size: 25px;
    }

    h1 {
        font-size: 50px;
    }

    label span1 {
        width: 100%;
    }

    .logo {
        width: 110px;
        height: 110px;
        margin-left: 35px;
        margin-top:25px;
    }

    .container-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    body {
        flex-direction: column;
    }

    .sidebar-menu.active{
        width: 55%;
    }

}
